@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 160px;
  align-items: center;
  position: absolute;
  padding-top: 48px;
  text-transform: uppercase;
  z-index: 2;
}

.head__logo-text {
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.head__toggle-btn {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 55px;
}
.nav-menu__item {
  list-style-type: none;
}
.nav-menu__link--active {
  border-bottom: 2px solid #FFFFFF;
}
.nav-menu__link {
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
}

@-webkit-keyframes rotateLogo {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}

@keyframes rotateLogo {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}
@-webkit-keyframes lumos {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@keyframes lumos {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}
@keyframes pulse {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}
@-webkit-keyframes inclineBtn {
  0%, 100% {
    transform: rotate(0deg) translateY(0);
  }
  30%, 70% {
    transform: rotate(15deg) translateY(2px);
  }
}
@keyframes inclineBtn {
  0%, 100% {
    transform: rotate(0deg) translateY(0);
  }
  30%, 70% {
    transform: rotate(15deg) translateY(2px);
  }
}
@-webkit-keyframes scaleBtn {
  0%, 100% {
    transform: scale(1);
  }
  40%, 60% {
    transform: scale(0.8);
    background: white;
    color: #39C2D7;
  }
}
@keyframes scaleBtn {
  0%, 100% {
    transform: scale(1);
  }
  40%, 60% {
    transform: scale(0.8);
    background: white;
    color: #39C2D7;
  }
}
section {
  width: 100%;
  height: 100%;
}

h1 {
  margin-bottom: 12px;
  color: #FFFFFF;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  line-height: 64px;
}

h1, h2 {
  text-align: center;
}

h2, p {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-size: 16px;
  line-height: 22px;
}

.top {
  height: 100vh;
}
.top__bg, .top__wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
.top__bg {
  height: 100%;
  width: 100%;
  transform-origin: center right;
  -o-object-fit: cover;
     object-fit: cover;
}
.top__wrapper, .top__bg-1, .top__bg-2, .top__bg-3 {
  z-index: 1;
}
.top__bg-2 {
  opacity: 0;
  -webkit-animation: lumos 5s infinite ease;
          animation: lumos 5s infinite ease;
}
.top__bg-3 {
  -webkit-animation: pulse 5s infinite ease;
          animation: pulse 5s infinite ease;
}
.top__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  height: 100vh;
  background: transparent;
}
.top__wrapper h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.top__logo:hover {
  cursor: pointer;
  -webkit-animation: rotateLogo 3s linear;
          animation: rotateLogo 3s linear;
}

.mid {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px 0;
}
.mid__headline {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #464547;
}
.mid__descr {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #666666;
}
.mid__column-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 14rem;
}
.mid__text {
  text-align: left;
  color: #666666;
}
.mid__btn {
  margin-top: 43px;
  width: 115px;
  height: 36px;
  background: #55C2D8;
  border: none;
  border-radius: 18px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: transform 0.2s ease;
}
.mid__btn:hover {
  -webkit-animation: inclineBtn 1.5s linear;
          animation: inclineBtn 1.5s linear;
  transform-origin: top left;
}

.btm {
  background: url(../assets/btm_bg.png);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}
.btm__headline {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}
.btm__descr {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.btm__btn {
  height: 150px;
  width: 150px;
  padding: 8px 0 0 10px;
  color: #FFFFFF;
  font-size: 75px;
  border-radius: 100%;
  background: #39C2D7;
  border: none;
}
.btm__btn:hover {
  -webkit-animation: scaleBtn 1.2s linear;
          animation: scaleBtn 1.2s linear;
  transform-origin: center center;
}

@keyframes rotateLogo {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
  }
}
@keyframes lumos {
  10%, 100% {
    opacity: 0;
  }
  65%, 70% {
    opacity: 1;
  }
}
@keyframes pulse {
  10%, 90% {
    transform: scale(1);
    top: 0;
  }
  40%, 60% {
    transform: scale(1.08);
  }
}
@keyframes inclineBtn {
  0%, 100% {
    transform: rotate(0deg) translateY(0);
  }
  30%, 70% {
    transform: rotate(15deg) translateY(2px);
  }
}
@keyframes scaleBtn {
  0%, 100% {
    transform: scale(1);
  }
  40%, 60% {
    transform: scale(0.8);
    background: white;
    color: #39C2D7;
  }
}
footer {
  background: #464547;
  padding: 37px 148px 60px 153px;
}

.ftr {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}
.ftr__top {
  padding-left: 43px;
}
.ftr__logo {
  width: 20px;
}
.ftr__span {
  padding-left: 16px;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
}
.ftr__txt {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.ftr__mail {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 19px;
}
.ftr__date {
  align-self: end;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
  .head {
    padding: 0 2rem;
  }
  .head__toggle-btn {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .top {
    position: relative;
    height: 90vh;
  }
  .top__bg {
    top: 40%;
    right: 0;
    transform: translate(0, -40%);
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: 100% 100%;
       object-position: 100% 100%;
  }
  .mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0;
    background: #EEEEEE;
  }
  .mid__column-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
  }
  .btm {
    background-size: auto;
  }
  .btm__btn {
    height: 100px;
    padding: 5px 0 0 8px;
    color: #FFFFFF;
    font-size: 50px;
    border-radius: 100px;
    background: #39C2D7;
    width: 100px;
  }
  footer {
    padding: 0;
  }
  .ftr {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    padding: 20px 0;
  }
  .ftr__top, .ftr__txt, .ftr__date {
    padding: 10px 0;
  }
}/*# sourceMappingURL=styles.css.map */