@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$fOswald: 'Oswald', sans-serif;
$fSourceSansPro: 'Source Sans Pro', sans-serif;
$htmlFs: 62.5%;
$fs-h1: 48px;
$fs-p: 16px;
$whiteCol: #FFFFFF;
$greyCol: rgba(255, 255, 255, 0.7);
$mid: #666666;
$ftr: rgba(255, 255, 255, 0.4);

$tac-center: center;

$percentSize: 100%;
$vh: 100vh;
$vw: 100vw;


